/*Formulario */

#Formulario{
    width: 92%;
    margin-left: 3.8%;
    padding: 5%;
  }
  
  
  #Form1{
      margin-top: 15px;
      font-size: 15px;
      background-color: rgb(248, 248, 248);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 25px;
      border-radius: 5px;
  
  }
  #la{
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  #in{
    width: 100%;
    padding: 5px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    margin-bottom: 5px;
    color: black;
    border-width: 1px;
    border-color: rgb(209, 213, 213);
    
  }
  #btn2{
    margin-top: 20px;
    padding: 1%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    transition: all ease 0.5s;
  }
  
  #btn2:hover{
    background-color: #b2000b;
  }
  #tit1{
    font-weight: bolder;
    font-size: 25px;
    margin-left: 45%;
  }
  #control{
  border-color: black;
  
  }
  #sub{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 35%;
  }