/*Formulario */

#Formulario{
    width: 100%;
    /* margin-left: 3.8%; */
    padding: 5%;
  }
  
  
  #Form1{
      margin-top: 15px;
      font-size: 15px;
      display: flex;
      /* grid-template-columns: 1fr 1fr; */
      border-radius: 5px;
      margin-bottom: 30px;
  
  }
  #la{
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  #in{
    width: 100%;
    padding: 5px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    margin-bottom: 5px;
    color: black;
    border-width: 1px;
    border-color: rgb(209, 213, 213);
    
  }
  #in:hover{
    background-color: rgb(249, 201, 209);
  }
  #btn2{
    color: white;
  margin: 4px;
  }
  
  #btn2:hover{
    background-color: #b2000b;
  }
  #tit1{
text-align: center;
  }
  #control{
  border-color: black;
  }
  #sub{
margin-bottom: 50px;
  }