#PaddingTopTable {
    margin-left: 42px;
    width: calc(100% - 75px);
}
#bottomSpace{
    width: 82px;
    margin-left: 1px;
    margin-bottom: 1px;
    border-radius: 0%;
}
#buttonadd{
    border-radius: 0%;
    width: 164px;
}