#tabla_roles {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    overflow-x: auto;
  }

/* table title css styles */
#titulo_roles{
    text-align: center;
}
#ordenamiento{
    background-color: white;
    color: black;
    
}
#filternsearch{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sizer{
 width: 12.5%;
}
#sizir{
 width: 66px;
}
#sizor{
    width: 12.5%;
}
.add_rol{
    width: 140px;
    border-radius: 0px;
}
.bordered{
    border-radius: 0px;
}
#boton_agregar{
    width: 174px;
    border-radius: 0px;
}
