#tabla_roles {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    overflow-x: auto;
  }

/* table title css styles */
#titulo_roles{
    text-align: center;
}
#ordenamiento{
    background-color: white;
    color: black;
    
}
#filternsearch{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sizer{
 width: 12.5%;
}
#sizir{
 width: 170px;
}
#sizor{
    width: 12.5%;
}
.add_rol{
    width: 140px;
    border-radius: 0px;
}
.bordered{
    border-radius: 0px;
}
#boton_agregar{
    width: 174px;
    border-radius: 0px;
}
.ah{
    width: 100px;
}


/* CATEGORIE ADD FORM STYLES */
.form-container {
    width: 100%;
    padding: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .alabel {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  #bottomSpace{
    align-items: center;
    width: 100%;
    margin-left: 1px;
    margin-bottom: 10px;
    border-radius: 0%;
}
.boton_añadir{
    text-align: center;
}
#PaddingTopTable {
    margin: auto;
    width: calc(100% - 75px);
}
#buttonadd{
    margin-left: 30%;
    border-radius: 0%;
    width: 164px;
}
.filter_position{
    margin-left: 5%;
}