#titulo_users{
    text-align: center;
}
.AgregarBT{
    margin-left: 75%;
    border-radius: 0;
    width: 135px;
}
.BT_ED_EL{
    margin: 4px;
    border-radius: 0;
}

#PaddingTopTable {
    margin: auto;
    width: calc(100% - 75px);
}
@media screen and (max-width: 820px) {
    .AgregarBT{
        margin: auto;
        display: flex;
        justify-content: center;
    }
}
