#titulo_users{
    text-align: center;
}
#tabla_users{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.AgregarBT{
    width: 139px;
    border-radius: 0px;
}
#SortUser{
    margin-right: 40px
}
.BT_ED_EL{
    border-radius: 0;
    margin: 4px;
}
